body {
    width: device-width;
    background-color: #232830;
    font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
    color: aliceblue;
    padding: 16px 8px;
    border-width: 16px 0px 16px 0px;
    border-style: solid;
    border-color: #232830;
    margin: 0px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}